<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/nav') %>
  <%- include('../partials/header') %>

  <% Object.keys(aboutSection).forEach(function (id) { %>
  <article>
    <h3><%= aboutSection[id].lizzoAboutTitle %></h3>
    <p><%= aboutSection[id].lizzoAboutContent %></p>
  </article>
  <% }) %>

  <% Object.keys(songSection).forEach(function (id) { %>
  <article>
    <h3><%= songSection[id].lizzoSongsTitle %></h3>
    <ol>
      <li><%= songSection[id].lizzoSongsA %></li>
      <li><%= songSection[id].lizzoSongsB %></li>
      <li><%= songSection[id].lizzoSongsC %></li>
    </ol>
  </article>
  <% }) %>

  <% Object.keys(imageSection).forEach(function (id) { %>
  <figure>
    <img src="<%= imageSection[id].lizzoImage %>" alt="lizzo">
    <figcaption>
      <%= imageSection[id].lizzoCaption %>
    </figcaption>
  </figure>
  <% }) %>
</body>

</html>
